$clr-accent: #54f0d1;
$clr-primary: #202020;
// $clr-primary-light: #73ffe3;
// $clr-primary-dark: #29a38b;

$clr-secondary: #f07d54;
$clr-secondary-dark: #a36d5a;

$wrapper-padding: 1rem 4rem;
$max-content-width: 1200px;
