@import './defaults';
@import './variables';

body {
	height: auto;

	color: #fff;
	background: $clr-primary;
	overflow-x: hidden;
}

.webgl,
.webgl-second {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
}
.webgl {
	mix-blend-mode: overlay;
}

section {
	position: sticky !important;
	top: 0;

	height: 200vh !important;

	// background: #f00 !important;
	// border: 8px solid #000;

	// &:nth-child(2) {
	// 	background: #0f0 !important;
	// }
	// &:nth-child(3) {
	// 	background: #00f !important;
	// }
}

section {
	$gradient-hegiht: 50px;
	// $gradient-hegiht: 0;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: center;

	padding: $wrapper-padding;
	height: calc(100vh + #{$gradient-hegiht});

	overflow: hidden;

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;

	// 	height: $gradient-hegiht;
	// 	width: 100%;
	// }
}

section .text-content {
	position: sticky;

	top: -100%;
	left: 0;

	transform: translateY(-50%);

	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100vh;
	width: 100%;
}

section .text-content {
	padding: 2em;
	max-width: $max-content-width;
	text-align: center;

	h2 {
		margin-bottom: 0.5em;
		font-size: 3rem;
	}
}

.section--first {
	h1 {
		padding: 0.2em;

		font-size: 7rem;
		text-transform: uppercase;

		text-shadow: 2px 12px 12px #000;

		span {
			display: inline-block;
		}
	}

	.dialog {
		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		height: 100vh;
		width: 100%;

		& > :first-child {
			position: relative;
			margin: 0 auto;
		}

		P {
			position: absolute;
			top: 50%;
			left: 130%;

			transform: translateY(-50%);

			text-align: center;

			span {
				display: block;

				font-weight: 100;
				line-height: 1.5;
				letter-spacing: 1px;
			}
		}

		img {
			display: block;
			margin: 0 auto;
			width: 100px;

			transform: perspective(100px);

			filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(100%)
				contrast(100%);
		}
	}

	&::after {
		background: linear-gradient(to top, #fff 20%, #202020 100%);
	}
}

.section--second {
	color: $clr-primary;
	background: #fff;

	.circle {
		position: absolute;
		top: 20%;
		right: 10%;

		width: 40vw;
		height: 40vw;

		filter: brightness(120%);
		background: $clr-accent;
		border-radius: 50%;
		box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.12);
	}
}

.section--third {
	background: #202020;

	h2 {
		margin: 0 auto;
		width: max-content;

		p {
			margin-right: -1em;

			text-align: right;
			font-size: 1.5rem;
			font-style: italic;
			font-weight: 100;
		}
	}

	&::after {
		bottom: unset;
		top: 0;
		background: linear-gradient(to bottom, #fff 20%, rgba(0, 0, 0, 0) 100%);
	}
}

section:last-child {
	max-height: 100vh;

	.text-content {
		transform: translateY(0);
	}
}
